Package: io.ominousness.mitsuhaxi
Name: MitsuhaXI
Depends: mobilesubstrate
Version: 0.3.0
Architecture: iphoneos-arm
Description: Jell-O wave effect for Apple Music and Spotify (iOS 11 Compatible)
Maintainer: Ominousness
Author: c0ldra1n
Section: Tweaks
