<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<!-- Apps -->
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>Music</string>
			<key>detail</key>
			<string>MSHMusicPrefsListController</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>Spotify</string>
			<key>detail</key>
			<string>MSHSpotifyPrefsListController</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>Soundcloud</string>
			<key>detail</key>
			<string>MSHSoundcloudPrefsListController</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>Deezer</string>
			<key>detail</key>
			<string>MSHDeezerPrefsListController</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>Springboard (Notification)</string>
			<key>detail</key>
			<string>MSHSpringboardPrefsListController</string>
		</dict>
		<!-- Credits -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>MitsuhaXI</string>
			<key>isStaticText</key>
			<true/>
		</dict>
		<dict>
			<key>action</key>
			<string>respring:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Respring</string>
		</dict>
		<dict>
			<key>action</key>
			<string>restartmsd:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Restart mediaserverd</string>
		</dict>
		<dict>
			<key>action</key>
			<string>visitGithub:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>GitHub (source code)</string>
		</dict>
		<dict>
			<key>action</key>
			<string>donate:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Donate to c0ldra1n</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Mitsuha, Mitsuha2 by c0ldra1n,
ported to iOS 11 by Ominousness.</string>
			<key>isStaticText</key>
			<true/>
		</dict>
	</array>
	<key>title</key>
	<string>MitsuhaXI</string>
</dict>
</plist>